.container {
    position: absolute;
    margin: auto;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
}

.card-wrap {
    width: 350px;
    height: 350px;
    position: relative;
    margin: auto;
}